

%section.pam
  %h1.center Mon compte Arts & Métiers Alumni
  / %h3.txtcentersmall Modifie ton mot de passe,

  .row
    .col.s12.l6
      .card
        .card-content
          %span.card-title
            %i.material-icons lock_outline
            Connexion et sécurité
        .divider
        .card-content
          %p
            Modifier le mot de passe du compte :
            %i.material-icons fingerprint_outline 
          %br
          %p
          -if true #@user.present?
            %p
              = link_to password_change_u_path(), title: "Modifier mon mot de passe"  do
                Modifier mon mot de passe
          %br
          %p.grey-text Le mot de passe sera synchronisé entre votre compte Arts & Métiers Alumni et votre compte Google Gadz.org si vous en possédez un (voir emails.gadz.org)
          
    .col.s12.l6
      .card
        .card-content
          %span.card-title
            %i.material-icons perm_identity_outline
            Perte d'identifiants
        .divider
        .card-content
          %p
            Retrouver les identifiants de connexion :
            %i.material-icons mail_outline ou %i.material-icons textsms_outline
          %br
          %p
            = link_to recovery_path(), title: "Récupèrer mes identifiants" do
              Récupérer mes identifiants
          %br
          %p.grey-text Récupération par mail (via un lien) et/ou SMS (via un code)                
          
    .col.s12.l6
      .card
        .card-content
          %span.card-title
            %i.material-icons help_outline
            Assistance
        .divider
        .card-content
          %p
            Aide en ligne
            %br
            L'aide en ligne est accessible à l'adresse 
            %b aide.gadz.org
          %br
            Ouvrir un ticket de support
            %br
            Les demandes de support informatique peuvent s'effectuer en ligne à l'adresse 
            %b jira.gadz.org
          %br  
          %i.material-icons mail_outline 
          %p Pour nous faire part de bugs ou de remarques, envoyer un mail à support@gadz.org
          %br
          %i.material-icons chat_outline 
          p.grey-text Slack de l'équipe "IT" Gadz.org : slack.gadz.org

