
.container-grey
  .center.mw1140p
    %section.pam
      %h1.txtcenter Gère et contrôle ton compte AgorAM depuis un même endroit
      / %h3.txtcentersmall Modifie ton mot de passe,

      .grid-2-small-1
        .box.box-light.shadow-1.mtm
          .box-top.box-top-light.pam
            %span
              %i.zmdi.zmdi-lock-outline
              Connexion et sécurité
          .box-bottom.box-light.pam
            %p
              = link_to recovery_path(), title: "Récupère ton mot de passe" do
                Récupérer mon mot de passe
            -if true #@user.present?
              %p
                = link_to password_change_u_path(), title: "Changer mon mot de passe"  do
                  Changer mon mot de passe
            %p.grey Mes options de récupération (bientôt disponible)


        .box.box-light.shadow-1.mtm
          .box-top.box-top-light.pam
            %span
              %i.zmdi.zmdi-info-outline
              Site en bêta
          .box-bottom.pam
            %p 
              moncompte.gadz.org est encore 
              %b en cours de développement 
              et est régulièrement mis à jour.
            %p Si tu veux nous faire part de bugs ou de remarques, tu peux envoyer un mail à support@gadz.org .
