

%section.pam
  %h1.center Gère et contrôle ton compte AgorAM depuis un même endroit
  / %h3.txtcentersmall Modifie ton mot de passe,

  .row
    .col.s12.l6
      .card
        .card-content
          %span.card-title
            %i.material-icons lock_outline
            Connexion et sécurité
        .divider
        .card-content
          %p
            Contrôle ton mot de passe et l'accès à ton compte.
          %br
          %p
            = link_to recovery_path(), title: "Récupère ton mot de passe" do
              Récupérer mon mot de passe
          -if true #@user.present?
            %p
              = link_to password_change_u_path(), title: "Changer mon mot de passe"  do
                Changer mon mot de passe
          %p.grey-text Mes options de récupération (bientôt disponible)
    .col.s12.l6
      .card
        .card-content
          %span.card-title
            %i.material-icons info_outline
            Site en bêta
        .divider
        .card-content
          %p
            moncompte.gadz.org est encore
            %b en cours de développement
            et est régulièrement mis à jour.
          %p Si tu veux nous faire part de bugs ou de remarques, tu peux envoyer un mail à support@gadz.org .

