.row
  .col.s12.l6.offset-l3.m8.offset-m2
    %h4.center
      Entre ton nouveau mot de passe
    .card-panel#password-card

      =form_for  [@user], :url=> password_change_path(@token)  do |f|
        %p
          %b Niveau de sécurité du mot de passe :
          %br
          Utilise au moins 8 caractères et pas d'accents. Ne choisis pas un mot de passe que tu utilises déjà sur un autre site, ni un mot de passe trop évident.
        .input-field
          =f.password_field :password, :autofocus => true, :class =>  "w100"
          =f.label :password, "Nouveau mot de passe"
          .span.highlight.w100
          .span.bar.w100
        .input-field
          =f.password_field :password_confirmation, :class =>  "w100"
          =f.label :password_confirmation, "Confirme le mot de passe"
          .span.highlight.w100
          .span.bar.w100
        #confirmMessageOK.green-text
          %i.material-icons check
          Les mots de passe correspondent
        #confirmMessageNOK.text-darken-2.red-text Les mots de passe ne correspondent pas !
        #confirmMessageNOKSHORT.text-darken-2.red-text C'est un peu court comme mot de passe non ?
        .input-field
          =f.submit 'Change mon mot de passe !',:class => "waves-effect waves-light btn"
