.row
  .col.s12.l6.offset-l3.m8.offset-m2
    %h4.center
      Entre ton nouveau mot de passe
    .card-panel#password-card

      =form_for  [@user], :url=> password_change_path(@token)  do |f|
        = render(partial:'shared/change_password_fields', locals: {f: f})
        .input-field
          =f.submit 'Change mon mot de passe !',:class => "waves-effect waves-light btn", id:'change-password-button'
