%h4.center Et voilà!
.row
  .col.s12.l6.offset-l3.m8.offset-m2
    .card
      .card-content
        %p
          Ton mot de passe Arts et Métiers Alumni a été changé ainsi que celui de ton 
          %b compte Google Gadz.org 
          si tu en as un.
        %br
        %p La synchronisation des mots de passe peu mettre quelques minutes, patience !
        %br
        %p En cas de doutes sur le bon fonctionnement des services, tu peux visiter la page de status :
        %p
          = link_to "status.gadz.org", "https://status.gadz.org/", target: "_blank", rel: "nofollow"

        /%p À partir de maintenant, pour te connecter sur #{ link_to "le site de la SOCE", 'http://www.arts-et-metiers.asso.fr/index.php/user/login'}, pense à utiliser l'"Authentification universelle".

        / %h3 Ton avis nous intéresse
        / %p Qu'as-tu pensé du nouveau système de récupération de mot de passe?
        / %p => sondage here!
