.row
  .col.s12.l6.offset-l3.m8.offset-m2
    %h4.center
      Nous avons retrouvé ton compte!
    .card-panel

      -if @list_emails_to_display.present?
        %p Nous pouvons t'envoyer un email avec les instructions de récupération aux adresses suivantes:
        %ul
          -@list_emails_to_display.each do |e|
            %li=e.to_s
        %p.grey-text Les "*" sont là pour ne pas rendre publiques tes adresses mails.
        %p
          =link_to recovery_step2_path(:token_session => @session.token), :method=> :post, title: "Envoie-moi un mail", :class => "waves-effect waves-light btn" do
            Envoie-moi un mail
          /%span#loading
            =image_tag "Preloader_3.gif"
            Envoi en cours...  
      -else
        %p Nous n'avons pas trouvé d'adresse mail renseignée sur ton compte Soce.  
     
      -if @phone_hidden
        %p.mtm
          Si tu n'y as plus accès, nous pouvons t'envoyer un SMS au numéro #{@phone_hidden}
        %p
          = link_to create_sms_path(:token_session => @session.token) , :method=> :post, title: "Envoie-moi un sms", :class => "waves-effect waves-light btn" do
            Envoie-moi un sms
        / %p
        /   = form_tag(validate_sms_path(), :method => 'post') do
        /     = label_tag :token, 'Code SMS:'
        /     = text_field_tag :token
        /     = submit_tag 'Vérifier',:class => "bouton bouton_bleu"
      -else
        %p Nous n'avons pas trouvé ou alors tu n'as pas renseigné de numéro de téléphone mobile sur ton profil Soce, nous ne pouvons donc pas te proposer de récupérer ton compte par SMS.

      %p.small.mtm
        Si tu n'as plus accès à ces adresses email ou à ce numéro de téléphone, tu peux
        = link_to recovery_support_path, title: "contacter le support" do
          contacter le support.
