%section.pam
  .mw500p.center
    .box.box-light.shadow-1.mtm
      .box-top.box-top-color.pam
        Email de récupération envoyé!
      .box-bottom.pam
        %p
          Un email avec les instructions pour récupérer ton compte t'a été envoyé aux adresses suivantes:
          %ul
            -@list_emails_to_display.each do |e|
              %li=e.to_s
        %p.small.grey Les "*" sont là pour ne pas rendre publiques tes adresses mails.
        %p.small 
          Tu n'as pas reçu de mail de récupération? Un délai de 15 minutes peut être nécessaire. 
          -if @phone_hidden
            Si tu as attendu plus de 15 minutes, nous pouvons t'envoyer un SMS de récupération au #{@phone_hidden}. 
            = link_to create_sms_path(:token_session => @session.token) , :method=> :post, title: "Envoie-moi un sms" do
              Envoie-moi un sms
        %p.small
          Si tu ne reçois rien par SMS ou par email tu peux
          = link_to recovery_support_path(), title: "contacter le support" do
            contacter le support.