.row
  .col.s12.l6.offset-l3.m8.offset-m2
    %h4.center
      Un ticket support a été ouvert&nbsp;!
    %p.center
      Tu vas recevoir un email de support@gadz.org avec la référence du ticket support qui vient d'être ouvert.
      Nos bénévoles ont bien reçu ton appel à l'aide, il prendront contact avec toi dès que possible.

