.row
  .col.s12.l6.offset-l3.m8.offset-m2
    %h4.center
      Un ticket support a été ouvert&nbsp;!
    %p.center
      Tu vas recevoir un email avec la référence du ticket support qui vient d'être ouvert.

