%h4.center Et voilà!
.row
  .col.s12.l6.offset-l3.m8.offset-m2
    .card
      .card-content
        %p
          Ton mot de passe a été changé pour toutes les applications de la communauté ainsi que pour ton 
          %b compte mail Google Gadz.org 
          si tu en as un.

        %p La synchronisation des mots de passe va mettre quelques minutes à se faire, patience !

        %p À partir de maintenant, pour te connecter sur #{ link_to "le site de la SOCE", 'http://www.arts-et-metiers.asso.fr/index.php/user/login'}, pense à utiliser l'"Authentification universelle".

        / %h3 Ton avis nous intéresse
        / %p Qu'as-tu pensé du nouveau système de récupération de mot de passe?
        / %p => sondage here!
