%section.pam
  %h1 Metriques


  .grid-2-small-1
    .box.shadow-1.mtm
      .box-top.pam
        General
      .box-bottom.pam
        %p
          Nombre de liens de recup:
          =@links_count
        %p
          Nombre de sessions:
          =@sessions_count
        %p
          Nombre de sms envoyés:
          =@sms_count


    .box.shadow-1.mtm
      .box-top.pam
        Utilisateurs
      .box-bottom.pam
        %p
          Top hruid
          %table.alternate
            %thead

              -@top_hruid.each do |hruid|
                %tr
                  %td=hruid[0]
                  %td=hruid[1]
