= javascript_include_tag "//www.google.com/jsapi", "chartkick"
%h4 Métriques

.row
  .col.l6
    .card
      .card-content
        %span.card-title General
        %p
          Nombre de liens de recup:
          =@links_count
        %p
          Nombre de sessions:
          =@sessions_count
        %p
          Nombre de sms envoyés:
          =@sms_count
  .col.l6
    .card
      .card-content
        %span.card-title
          Utilisateurs
        %p
          Top hruid
          %table.alternate
            %thead

              -@top_hruid.each do |hruid|
                %tr
                  %td=hruid[0]
                  %td=hruid[1]
        %p
          Type de recheches
        %span= column_chart charts_term_type_path

        %table.alternate
          %thead

            -@search_term_type.each do |t|
              %tr
                %td=t[0]
                %td=t[1]
.card
  .card-content
    %span.card-title
      Fréquence sessions
    %span= column_chart charts_sessions_dates_path, stacked: true

  / .box.shadow-1.mtm
  /   .box-top.pam
  /     Fréquence liens recup
  /   .box-bottom.pam
  /     %span= column_chart charts_used_link_path, stacked: true