%p Bonjour,
%p Pour lancer le processus de réinitialisation du mot de passe de votre compte Gadz #{@hruid} , cliquez sur le lien ci-dessous :

%p=@url

%p Pour information votre login est : #{@hruid}

%p Si ce lien ne fonctionne pas, copiez l'URL, puis collez-la dans une nouvelle fenêtre de navigateur. Si vous avez reçu ce message par erreur, il est possible qu'un autre utilisateur ait saisi votre adresse e-mail par inadvertance alors qu'il tentait de réinitialiser un mot de passe. Si vous n'avez pas formulé de demande en ce sens, aucune action supplémentaire de votre part n'est requise. Par conséquent, vous pouvez ignorer ce message.

%p Attention ce lien ne fonctionne que 24h, après ce délai vous pourrez recommencer la procédure en allant sur : https://agoram.gadz.org/c/recovery/password.

%p
	Cordialement,
	L'équipe Support Gadz.org
