.row
  .col.s12.l6.offset-l3.m8.offset-m2
    %h4.center
      Changement de mot de passe
    %p.center Tu vas changer ici le mot de passe de ton compte ainsi que celui de ton compte Google Gadz.org si tu en as un.

    .card-panel#password-card
      -unless @first_attempt
        .card-panel.blue-grey.darken-1.white-text
          %p Ton mot de passe actuel n'est pas reconnu ? Il est possible que celà arrive sur certains comptes dont le mot de passe n'a pas été changé depuis longtemps. Mais comme nous n'avons pas envie que tu te fasse conscriter par le système, nous te proposons de faire une
          =link_to "récupération de mot de passe.", recovery_path(hruid: @user.hruid)

      =form_for  [@user], :url=> password_change_logged_step2_user_path(@user)  do |f|
        %p Pour des raisons de sécurité, nous te demandons ton mot de passe actuel
        .input-field
          =f.password_field :password_current, :autofocus => true, :class =>  "w100", required: 'true'
          =f.label :password_current, "Mot de passe actuel"
        = render(partial:'shared/change_password_fields', locals: {f: f})
        .input-field
          .center=f.submit 'Change mon mot de passe !',:class => "waves-effect waves-light btn", id:'change-password-button'
