%section.pam
  .w500p.center
    .box.shadow-1.mtm
      .box-top.pam
        Nouveau mot de passe pour #{@hruid}
      .box-bottom.pam
        %p Rentrez votre nouveau mot de passe
        =form_for  [@user], :url=> password_change_path()  do |f|
          =f.text_field :password, :placeholder => "Nouveau mot de passe", :size => 30
          =f.text_field :password_confirmation, :placeholder => "Confirmer le mot de passe", :size => 30
          =f.submit 'Changer le mot de passe!',:class => "bouton bouton_bleu"
