%section.pam
  .mw500p.center
    .box.box-light.shadow-1.mtm
      .box-top.box-top-color.pam
        Changement de mot de passe
      -unless @first_attempt
        .box-bottom.bg-blue-dark-2
          .pam
            %p Ton mot de passe actuel n'est pas reconnu ? Il est possible que celà arrive sur certains comptes dont le mot de passe n'a pas été changé depuis longtemps. Mais comme nous n'avons pas envie que tu te fasse conscriter par le système, nous te proposons de faire une
            =link_to "récupération de mot de passe.", recovery_path(hruid: @user.hruid)
      .box-bottom.pam
        %p Tu vas changer ici le mot de passe de ton compte ainsi que celui de ton compte Google Gadz.org si tu en as un.
        =form_for  [@user], :url=> user_password_change_logged_step2_path(@user)  do |f|
          %p Pour des raisons de sécurité, nous te demandons ton mot de passe actuel
          .group-m-form.mts
            =f.password_field :password_current, :autofocus => true, :class =>  "w100"
            =f.label :password_current, "Mot de passe actuel"
            .span.highlight.w100
            .span.bar.w100
          .group-m-form
            =f.password_field :password, :class =>  "w100"
            =f.label :password, "Nouveau mot de passe"
            .span.highlight.w100
            .span.bar.w100
          %p Utilise au moins 8 caractères et pas d'accents. Ne choisis pas un mot de passe que tu utilises déjà sur un autre site, ni un mot de passe trop évident.
          .group-m-form.mts
            =f.password_field :password_confirmation, :class =>  "w100"
            =f.label :password, "Confirme le mot de passe"
            .span.highlight.w100
            .span.bar.w100
          %p#confirmMessageOK 
          %p#confirmMessageNOK.red.small Les mots de passe ne correspondent pas!
          %p#confirmMessageNOKSHORT.red.small C'est un peu court comme mot de passe non?
          =f.submit 'Change mon mot de passe !',:class => "bouton bouton_bleu mtm"
