%section.pam
  %h1 Titre


  .grid-2-small-1
    .box.shadow-1.mtm
      .box-top.pam
        Nouveau mot de passe pour #{@hruid}
      .box-bottom.pam
        %p yo
        =form_for  [@user], :url=> password_change_path()  do |f|
          =f.text_field :password, :placeholder => "Nouveau mot de passe", :size => 30
          =f.text_field :password_confirmation, :placeholder => "Nouveau mot de passe", :size => 30
          =f.submit 'Changer le mot de passe!',:class => "bouton bouton_bleu"
