%section.pam
  .w500p.center
    .box.shadow-1.mtm
      .box-top.pam
        Entre ton nouveau mot de passe
      .box-bottom.pam
        
        =form_for  [@user], :url=> password_change_path()  do |f|
          =f.password_field :password, :placeholder => "Nouveau mot de passe", :size => 30, :autofocus => true
          %p Utilise au moins 8 caractères. Ne choisis pas un mot de passe que tu utilises déjà sur un autre site, ni un mot de passe trop évident.
          =f.password_field :password_confirmation, :placeholder => "Confirme le mot de passe", :size => 30
          %p#confirmMessageOK 
          %p#confirmMessageNOK.red.small Les mots de passe ne correspondent pas!
          %p#confirmMessageNOKSHORT.red.small C'est un peu court comme mot de passe non?
          =f.submit 'Change mon mot de passe!',:class => "bouton bouton_bleu mtm"
