%section.pam
  .mw500p.center
    .box.box-light.shadow-1.mtm
      .box-top.box-top-color.pam
        Entre ton nouveau mot de passe
      .box-bottom.pam
        
        =form_for  [@user], :url=> password_change_path()  do |f|
          .group-m-form
            =f.password_field :password, :autofocus => true, :class =>  "w100"
            =f.label :password, "Nouveau mot de passe"
            .span.highlight.w100
            .span.bar.w100
          %p Utilise au moins 8 caractères et pas d'accents. Ne choisis pas un mot de passe que tu utilises déjà sur un autre site, ni un mot de passe trop évident.
          .group-m-form.mts
            =f.password_field :password_confirmation, :class =>  "w100"
            =f.label :password, "Confirme le mot de passe"
            .span.highlight.w100
            .span.bar.w100
          %p#confirmMessageOK 
          %p#confirmMessageNOK.red.small Les mots de passe ne correspondent pas!
          %p#confirmMessageNOKSHORT.red.small C'est un peu court comme mot de passe non?
          =f.submit 'Change mon mot de passe!',:class => "bouton bouton_bleu mtm"
