%section.pam
  .mw500p.center
    .box.box-light.shadow-1.mtm
      .box-bottom.box-top-color.pam
        %h3 Un ticket support a été ouvert!
        %p 
          Tu vas recevoir un email avec la reférence du ticket support qui vient d'être ouvert.

