%section.pam
  .mw500p.center
    .box.box-light.shadow-1.mtm
      =image_tag "giphy.gif", style: 'height:auto;width:100%;'
      .box-bottom.pam
        %h3 Braval!
        %p
          Ton compte est à la dérouille avec lap's @gadz.org. Il reste au phnou's une chtouille de verif's à usiner donc  il ne sera bandable que dans un ep's de tap's.
        %p
          1/n d'affolance, nous te tuy'serons au µtap's même où il est usiné et nous t'FCerons la re de tuy's sur comment faire ouiner tout le bastringue.
        %p
          Frat's !
      .box-bottom.pam
        %p Et si tu parles comme un pec's...

        %h3 Et voilà!
        %p 
          Ton compte est en cours de création ainsi que ton adresse Gadz.org. Mais comme nous avons quelques vérifications à faire, il ne sera accessible que dans quelque jours.
        %p
          Mais pas d'inquiétude, nous te dirons quand il sera prêt et tu auras toutes les infos nécessaires .
        %p
          A bientôt !