%section.pam
  .w500p.center
    .box.shadow-1.mtm
      .box-bottom.pam
        %h3 Un ticket support a été ouvert!
        %p 
          Tu vas recevoir un email avec la reférence du ticket support qui vient d'être ouvert.

