%section.pam
  .w500p.center
    .box.shadow-1.mtm
      .box-top.pam
        Retrouve ton compte
      .box-bottom.pam

        %p Tu as perdu ton mot de passe ou identifiant Gadz.org? Tu n'as plus accès à ton compte email Gadzmel? 
        .mtm 
          =form_for  [@user], :url=> create_recovery_session_path()  do |f|
            =f.text_field :hruid, :placeholder => "identifiant, email, numéro sociétaire", :size => 30
            =f.submit 'Recuperer',:class => "bouton bouton_bleu"
        %p.small Entre ton adresse @gadz.org, ton indentifiant, ton numéro de sociétaire ou l'email où tu reçois les communications de la SOCE / Gadz.org.
        %p.small Ton identifiant est de la forme prenom.nom.promo, par exemple: charles.saint-gorgon.1859 ou prenom.nom.ext pour les non-gadzarts.
