%section.pam
  .w500p.center
    .box.shadow-1.mtm
      .box-top.pam
        Email de récupération envoyé!
      .box-bottom.pam
        %p
          Un mail avec les instructions pour récupérer ton comtpe t'as été envoyé aux adresses suivantes:
          %ul
            -@list_emails_to_display.each do |e|
              %li=e.to_s
        %p (les "x" sont là pour ne pas rendre publique tes adresses mails)


