%section.pam
  %h1 Titre


  .grid-2-small-1
    .box.shadow-1.mtm
      .box-top.pam
        Récupérer mot de passe
      .box-bottom.pam
        %p yo
        =form_for  [@user], :url=> recovery_step2_path()  do |f|
          =f.text_field :hruid, :placeholder => "login, email, num SOCE", :size => 30
          =f.submit 'Recuperer',:class => "bouton bouton_bleu"
