%section.pam
  .w500p.center
    .box.shadow-1.mtm
      .box-bottom.pam
        %h3 Et voilà!
        %p 
          Ton mot de passe a été changé pour toutes les applications de la communauté ainsi que pour ton 
          %b compte mail Google Gadz.org 
          si tu en as un.

        %p La synchronisation des mots de passe va mettre quelques minutes à se faire, patience!

        %h3 Ton avis nous intéresse
        %p Qu'as-tu pensé du nouveau système de récupération de mot de passe?
        %p => sondage here!
