%section.pam
  .mw500p.center
    .box.box-light.shadow-1.mtm
      .box-top.box-top-color.pam
        -if @first_attempt
          Retrouve ton compte
        -else
          Nous n'avons pas pu t'identifier :-(

      .box-bottom.pam

        - if @first_attempt
          %p Tu as perdu ton mot de passe ou identifiant Gadz.org? Tu n'as plus accès à ton compte email Gadzmel?
        -else
          %p Tu peux essayer à nouveau:
        .mtm 
          =form_for  [@user], :url=> create_recovery_session_path()  do |f|
            .group-m-form
              =f.text_field :hruid, :placeholder => "", :class => "w100 login", :autofocus => true, :required => true
              =f.label :hruid, "Entre ici ton identifiant OU email OU n° de sociétaire,..."
              .span.highlight.w100
              .span.bar.w100
            -if @help == true
              %p.small.red Peux-tu cocher la case ci-dessous? C'est une mesure de sécurité pour éviter les abus sur ce site. Merci!
            .w100.pbm=recaptcha_tags
            =f.submit 'Recuperer',:class => "bouton bouton_bleu", :id => "button_loading"
            %span#loading
              =image_tag "Preloader_3.gif"
              Nous recherchons ton compte

        %p.small Entre ton adresse @gadz.org, ton indentifiant, ton numéro de sociétaire ou l'email où tu reçois les communications de la SOCE / Gadz.org.
        %p.small Ton identifiant est de la forme prenom.nom.promo, par exemple: charles.saint-gorgon.1859 ou prenom.nom.ext si tu n'appartient pas à une promotion.

      -unless @first_attempt
        .box-bottom.border-top.bg-blue-dark-2
          .pam
            %p 
              Si tu ne retrouves pas tes identifiants ou si le système ne te reconnait pas, tu peux 
              = link_to recovery_support_path(), title: "contacter le support" do
                contacter le support.
