%section.pam
  .mw500p.center
    .box.box-light.shadow-1.mtm
      =image_tag "giphy.gif", style: 'height:auto;width:100%;'
      .box-bottom.pam
        %h3 Et voilà!
        %p 
          Ton compte est en cours de création ainsi que ton adresse Gadz.org. Mais comme nous avons quelques vérifications à faire, il ne sera accessible que dans quelque jours.
        %p
          Mais pas d'inquiétude, nous te dirons quand il sera prêt et tu auras toutes les infos nécessaires .
        %p
          A bientôt!