%p
  %b Niveau de sécurité du mot de passe :
%p Ton mot de passe doit :
%table.striped{id: 'password-rules-compliance'}
  %tbody
    %tr{id: 'password-rule-length'}
      %td.center-align.icon-cell
        %i.material-icons.red-text clear
      %td
        Contenir au moins 8 caractères
    %tr{id: 'password-rule-spaces'}
      %td.center-align.icon-cell
        %i.material-icons.red-text clear
      %td
        Ne pas commencer ou finir par un espace
    %tr{id: 'password-rule-characters'}
      %td.center-align.icon-cell
        %i.material-icons.red-text clear
      %td
        Ne contenir que des caractère alphanumérique ou dans la liste : !\"$#%&'‘()*+,-./:;<=>?@\[]^{|}~


%p Ne choisis pas un mot de passe que tu utilises déjà sur un autre site, ni un mot de passe trop évident.
.input-field
  =f.password_field :password, :autofocus => true, :class =>  "w100", required: 'true'
  =f.label :password, "Nouveau mot de passe"
  .span.highlight.w100
  .span.bar.w100
.input-field
  =f.password_field :password_confirmation, :class =>  "w100", required: 'true'
  =f.label :password_confirmation, "Confirme le mot de passe"
  .span.highlight.w100
  .span.bar.w100
#confirmMessageOK.green-text
  %i.material-icons check
  Les mots de passe correspondent
#confirmMessageNOK.text-darken-2.red-text Les mots de passe ne correspondent pas !
#confirmMessageNOKSHORT.text-darken-2.red-text C'est un peu court comme mot de passe non ?
