
.grid-3-small-1
  .box.box-light.shadow-1.mtm
    .box-top.box-top-color.pam
      GrAM
    .box-bottom.pam
      %p=@user_from_gram.uuid
      %p=@user_from_gram.hruid
      %p=@user_from_gram.firstname if @user_from_gram.respond_to?(:firstname)
      %p=@user_from_gram.lastname if @user_from_gram.respond_to?(:lastname)
      %p
        %b ID soce
        =@user_from_gram.id_soce if @user_from_gram.respond_to?(:id_soce)
      %p=@user_from_gram.enabled
      %h2 Alias
      -if @user_from_gram.respond_to?(:aliases)
        %ul
        -@user_from_gram.aliases.each do |a|
          %li=a.name
      %p
        %b Email
        =@user_from_gram.email if @user_from_gram.respond_to?(:email)
      %p
      %p=@user_from_gram.birthdate if @user_from_gram.respond_to?(:birthdate)
      %p=@user_from_gram.description if @user_from_gram.respond_to?(:description)

      %p=@user_from_gram.entite if @user_from_gram.respond_to?(:entite)

      %h2 Groupes
      -if @user_from_gram.respond_to?(:groups)
        %ul
        -@user_from_gram.groups.each do |a|
          %li=a.name
          %ul
            %li=a.short_name
            %li=a.uuid
      

  -if @user_from_soce.present?
    .box.box-light.shadow-1.mtm
      .box-top.box-top-color.pam
        SOCE
      .box-bottom.pam
        %p=@user_from_soce.hruid
        %p=@user_from_soce.id_user
        %p=@user_from_soce.id_civilite
        %p=@user_from_soce.id_type_societaire
        %p=@user_from_soce.nom
        %p=@user_from_soce.prenom
        %p=@user_from_soce.nom_jeune_fille
        %p=@user_from_soce.date_naissance
        %p=@user_from_soce.login
        %p=@user_from_soce.email
        %p=@user_from_soce.email_valide
        %p=@user_from_soce.email_secondaire
        %p=@user_from_soce.promo1
        %p=@user_from_soce.promo2
        %p=@user_from_soce.promo3
        %p=@user_from_soce.centre1
        %p=@user_from_soce.centre2
        %p=@user_from_soce.centre3
        %p=@user_from_soce.filiere1
        %p=@user_from_soce.filiere2
        %p=@user_from_soce.filiere3
        %p
          Portable:
          =@user_from_soce.tel_mobile
        %p=@user_from_soce.sexe
        %p=@user_from_soce.surnom
        %p=@user_from_soce.famille1
        %p=@user_from_soce.famille2
        %p=@user_from_soce.famille3
        %p=@user_from_soce.hruid

  -if @user_from_platal.present?
    .box.box-light.shadow-1.mtm
      .box-top.box-top-color.pam
        Gadz.org
      .box-bottom.pam
        %p=@user_from_platal.hruid
        %p
          UID:
          =@user_from_platal.uid
        %p=@user_from_platal.type
        %p=@user_from_platal.is_admin
        %p=@user_from_platal.state
        %p=@user_from_platal.email
        %p=@user_from_platal.firstname
        %p=@user_from_platal.lastname
        %p=@user_from_platal.full_name
        %p=@user_from_platal.directory_name
        %p=@user_from_platal.display_name
        %p=@user_from_platal.sex

