
.grid-3-small-1
  .box.shadow-1.mtm
    .box-top.pam
      GrAM
    .box-bottom.pam
      %p=@user_from_gram.hruid
      %p=@user_from_gram.firstname
      %p=@user_from_gram.lastname
      %p=@user_from_gram.id_soce
      %p=@user_from_gram.enable
      %p=@user_from_gram.id
      %p=@user_from_gram.uid_number
      %p=@user_from_gram.home_directory
      -@user_from_gram.alias.each do |a|
        =a
      -@user_from_gram.mail_forwarding.each do |m|
        =m
      -@user_from_gram.mail_alias.each do |m|
        =m
      %p=@user_from_gram.email
      %p=@user_from_gram.email_forge
      %p=@user_from_gram.birthdate
      %p=@user_from_gram.login_validation_check
      %p=@user_from_gram.description
      -@user_from_gram.entities.each do |e|
        =e
      %p=@user_from_gram.entite
      


  .box.shadow-1.mtm
    .box-top.pam
      SOCE
    .box-bottom.pam
      %p=@user_from_soce.hruid
      %p=@user_from_soce.id_user
      %p=@user_from_soce.id_civilite
      %p=@user_from_soce.id_type_societaire
      %p=@user_from_soce.nom
      %p=@user_from_soce.prenom
      %p=@user_from_soce.nom_jeune_fille
      %p=@user_from_soce.date_naissance
      %p=@user_from_soce.login
      %p=@user_from_soce.email
      %p=@user_from_soce.email_valide
      %p=@user_from_soce.email_secondaire
      %p=@user_from_soce.promo1
      %p=@user_from_soce.promo2
      %p=@user_from_soce.promo3
      %p=@user_from_soce.centre1
      %p=@user_from_soce.centre2
      %p=@user_from_soce.centre3
      %p=@user_from_soce.filiere1
      %p=@user_from_soce.filiere2
      %p=@user_from_soce.filiere3
      %p
        Portable:
        =@user_from_soce.tel_mobile
      %p=@user_from_soce.sexe
      %p=@user_from_soce.surnom
      %p=@user_from_soce.famille1
      %p=@user_from_soce.famille2
      %p=@user_from_soce.famille3
      %p=@user_from_soce.hruid

  .box.shadow-1.mtm
    .box-top.pam
      Gadz.org
    .box-bottom.pam
      %p=@user_from_platal.hruid
      %p=@user_from_platal.uid
      %p=@user_from_platal.type
      %p=@user_from_platal.is_admin
      %p=@user_from_platal.state
      %p=@user_from_platal.email
      %p=@user_from_platal.firstname
      %p=@user_from_platal.lastname
      %p=@user_from_platal.full_name
      %p=@user_from_platal.directory_name
      %p=@user_from_platal.display_name
      %p=@user_from_platal.sex

