// Place all the styles related to the Module/Merge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "autoload/colors";

.box-merge{}
.box-merge-left{
	text-align: right;
}
.box-merge-right{
	text-align: left;
}
.box-merge-left input{
	float: right;
	clear: both;
}
.box-merge-right{}

.box-merge input[type="radio"] {
	visibility: hidden;
	position: absolute;
	/*top: -9999px;*/
	/*left: -9999px;*/
}
.box-merge label.black {
	padding: 10px;
	border-radius: 7px;
	border: rgba(0, 0, 0, 0.07) 3px solid;
	pointer-events: auto;
	cursor: pointer;
	transition:0.2s ease all; 
	-moz-transition:0.2s ease all; 
	-webkit-transition:0.2s ease all;
}

.box-merge label.black:hover {
	color: $violet-dark;
}
.mtm input[type="radio"]:checked + label.black{
	border: $violet-dark 3px solid;
}

.mtm  input[type="radio"]:required:invalid + label.black { /*color: red;*/ }
.bottom-merge{
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0px;
	background: rgba(255, 255, 255, 0.86);
}
.bottom-merge-arrow{
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0px;
	height: 45px;
	font-size: 38px;
}

label.black, .box-merge label.black:hover{
	color: #4c4c4c;
}

.label-uniq:hover{
	color: #4c4c4c;
	cursor: auto;
}

.bottom-bar{
	border-bottom: 1px solid #777;
}

.box-merge-right .label-uniq.black, .box-merge-left .label-uniq.black {
	border: #27ae60 3px solid;
}
