// Place all the styles related to the Module/Merge controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.bottom-merge{
	position: fixed;
	bottom: 0;
	width: 100%;
left: 0px;
background: rgba(255, 255, 255, 0.86);
}
.bottom-merge-arrow{
	position: fixed;
	bottom: 0;
	width: 100%;
	left: 0px;
	height: 45px;
	font-size: 38px;
}