%section.pam
  .mw960p.center
    .mtl.ptl
      .txtcenter=image_tag('platal_not_found.gif')
      %h2.txtcenter Il y a eu une erreur pendant la fusion de tes comptes...
      %p.txtcenter
        Une demande support a été ouverte, tu recevras dans les 15 prochaines minutes un mail récapitulatif à l'adresse
        =@soce_user.email