%section.pam
  .mw960p.center
    .mtl.ptl
      .txtcenter=image_tag('platal_not_found.gif')
      %h2.txtcenter Je n'ai pas trouvé ton compte Gadz.org...
      %p.txtcenter
        Si tu es certain d'en avoir un, envoie un mail à
        =mail_to "support@gadz.org"
