%section.pam
  .mw960p.center
    %h1.txtcenter Fuuuusion !

    .txtcenter
      <img src="http://cdn.idigitaltimes.com/sites/idigitaltimes.com/files/styles/embed/public/2016/01/25/gotenandtrunksfusionss-dragon-ball-z.jpg" />

    .box.box-light.shadow-1.mtl.ptl.txtcenter
      %h2 Tes données sont fusionnées avec succés et visibles dès maintenant dans <a href="#{Rails.application.secrets.site_soce_url}/index.php/espaceMembre">ton profil soce</a>