/ .bottom-merge
/   %section.pas
/     .mw960p.center
/       .grid-2
/         .txtcenter=image_tag "gadzorg-favicon1.png",:size => "50", :class => "vertical-center"
/         .txtcenter=image_tag "logo_alumni.png", :class => "vertical-center"
/ .bottom-merge-arrow
/   .txtcenter.pas
/     .i.zmdi.zmdi-arrow-right.vertical-center

%section.pam
  .mw960p.center
    %h1.txtcenter Ton compte Gadz.org et Soce ne font plus qu'un!

    .pam
      .bottom-bar
        Les deux annuaires 
        %b fusionnent
        enfin ! Afin que tes 
        %b infos personnelles soient à jour
        , tu peux choisir ci-dessous lesquelles tu souhaites garder. Tu trouveras à gauche celles qui proviennent de l'annuaire gadz.org et à droite celle de l'annuaire Soce.
      .small Temps estimé : 2 minutes


    =form_tag module_merge_update_soce_user_path(@hruid) do
      #hruid-field=hidden_field_tag @hruid, :class => "hruid"
      .mtm.box-merge
        =fields_for :user_soce do |ff|
          .grid-2
            .box-merge-left.prm
              %span.prm Annuaire Gadz.org
              / %i.zmdi.zmdi-long-arrow-down
              =image_tag "gadzorg-favicon1.png",:size => "50"
            .box-merge-right.plm
              =image_tag "logo_alumni.png"
              / %i.zmdi.zmdi-long-arrow-down
              %span.plm Annuaire SOCE
          -@infos.each do |info|
            -case info[:status]
            -when :same 
              / .box-merge-left= label_tag info[3],nil, :class => 'label-uniq black'
              / .box-merge-right= label_tag info[3],nil, :class => 'label-uniq black'
            -when :updatable
              %h3.txtcenter=info[:title]
              .grid-2.box-merge
                .box-merge-left
                  = ff.radio_button info[:field_name], "platal", :required => true
                  = ff.label info[:field_name]+"_platal", info[:platal], :class => "black"
                .box-merge-right
                  = ff.radio_button info[:field_name], "soce", :required => true
                  = ff.label info[:field_name]+"_soce", info[:soce], :class => "black"
            -when :fixed
              / .box-merge-left Info fixe:  
              / .box-merge-right= label_tag info[3], info[3], :class => 'label-uniq black'
        #addresses{"data-hruid"=>@hruid} 
          .box.box-light.shadow-1.mtm.w50.pam.center
            .txtcenter=image_tag "Preloader_3.gif"
            %p.txtcenter
              Holà ! J'ai plein d'informations à charger, laisse-moi 2 secondes le temps de traiter tout ça...
        }

        

      =submit_tag 'Envoyer',:class => "bouton bouton_bleu"