= stylesheet_link_tag    "mail", media: "all"
.mam
	.content.mw500p.center
		.pam
			%p=image_tag "http://www.arts-et-metiers.asso.fr/images/logo.png", height: '50'

			%p Sal's #{@prenom},
			%p tu l'attendais ? La voilà ! Ton adresse mail Gadz.org arrive très bientôt !

			%p Mais avant tout, nous allons te demander de vérifier tes infos pour que ton compte soit à la côte.


			.txtcenter.bouton.bouton_bleu
				=link_to "Vérifier mes infos", @url ,:class => "bouton bouton_orange_1 txtcenter"


			%p Tu as jusqu'au 5 février pour vérifier tes coordonnées. Passé ce délai, nous ne pourrons te garantir que ton adresse sera créée en même temps que celles de ta prom's.

			%p 
				%br Fratern's,
				%br blaked 84me211
				%br Team Gadz.org / Soce

