@import "autoload/colors";

.box-merge{}
.box-merge-left{
	text-align: right;
}
.box-merge-right{
	text-align: left;
}
.box-merge-left input{
	float: right;
	clear: both;
}
.box-merge-right{}

.box-merge input[type="radio"] {
	visibility: hidden;
	position: absolute;
	top: -9999px;
	left: -9999px;
}
.box-merge label {
	padding: 10px;
	border-radius: 7px;
	border: rgba(0, 0, 0, 0.07) 3px solid;
}

.mtm input[type="radio"]:checked + label, .box-merge-right .label-uniq{
	border: $violet-dark 3px solid;
}
